<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet/less" type="text/css" href="/css/styleLess.less" />
 
    <title>Less</title>
</head>
<body>
    <h1>Less</h1>
    <h2>LESS 2</h2>
    <h3>LINDO</h3>
    
    
    <p class ="texto1">Texto so dentro de p.</p>
    <div>texto so dentro de div</div>
    <div>
        <p>
            <b>texto dentro de div , p e b</b>
        </p>
    </div>
    


    
    <script src="https://cdn.jsdelivr.net/npm/less@4" >
        less = {env: 'development'};
    </script>
</body>
</html>