<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <ul><h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus iste sunt recusandae amet cumque placeat nesciunt nulla eaque pariatur in totam reiciendis, tempore, ut impedit ex! A dignissimos voluptatum voluptatem.</h1></ul>
</body>
</html>